.slideshow{
    margin-top: 30px;
}

.slideshow > h1{
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center;
}
.each-slide > img{
    height: 610px;
    width: 100%;
}

.propertyDetails{
    display: flex;
}