.about{
    margin: 5rem auto 0;
    width: 90%;
}

.about__info > p{
    font-weight: 200;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

.about__info > h4{
    margin-bottom: 2rem;
}

img{
    margin-bottom: 2rem;
    margin-left: 3rem;
    float: right;
}