.about{
    background-color: white;
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    width: 920px;
}

.about__info{
    margin-left: 70px;
    padding: 10px 25px;
}

.about__info > h1{
    font-weight: 400;
    margin-bottom: 5px;
}

.about__info > .about__location{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.about__location > .about__address{
    align-items: center;
    display: flex;
    width: 543px;
}

.about__address > button{
    margin-left: 100px;
}