  .contact__form{
    padding: 2rem;
    max-width: 500px;
  }
  
  .form-wrap {
    color: #333;
    height: 385px;
  }

  .form-wrap h1,
  .form-wrap p {
    font-family: 'Raleway';
    text-align: center;
  }

  .form-wrap .form-group {
    margin-top: 10px;
  }

  .form-wrap .form-group input {
     border: 1px solid #ddd;
      border-radius: 5px;
      width: 100%;        
    }
    
  .form-wrap .form-group input,
  textarea{
    font-size: 0.8rem;
    padding: 1rem 1.2rem;
    letter-spacing: 0.1rem;
  }

  .form-wrap button {
    background-color: #1A1A1A;
    display: block;
    border-radius: 5px;
    font-size: 80%;
    padding: 10px;
    margin: 2rem auto 0 auto;
    color: #fff;
    cursor: pointer;
    width: 70%;
  }

  .form-wrap button:hover {
      color:#1A1A1A;
      background-color: white;
  }

  textarea{
    height: 100px;
    resize: none;
    width: 100%;
  }