.footer{
    background-color: #1A1A1A;
    border-top: 1px solid lightgray;
    color: white;
    height: 250px;
    max-height: 450px;
}

.footer > h1{
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
}

.footer > .footer__address{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer > .footer__address > .footer__section{
    display: flex;
    /* font-weight: bold; */
}

.footer__section > .section__details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
} 

.section__details > span{
    letter-spacing: 0.2rem;
    line-height: 1.8;
    font-weight: 600;
}

.footer__font{
    color: grey;
}