.footer{
    background-color: #1A1A1A;
    /* border-top: 1px solid lightgray; */
    color: white;
    height: 450px;
}

.footer > h1{
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
}

.footer > .footer__address{
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer > .footer__address > .footer__section{
    display: flex;
}

.footer__section > .section__details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
} 

.section__details > span{
    letter-spacing: 0.2rem;
    line-height: 1.8;
    font-weight: 600;
}

.footer__font{
    color: grey;
}

/* Ipad */
@media(max-width: 768px){

    .footer > .footer__address{
        grid-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        padding-top: 1rem;
        width: 90%;
    }
}