.footer{
    background-color: #1A1A1A;
    /* border-top: 1px solid lightgray; */
    color: white;
    max-height: 450px;
}

.footer > h1{
    font-weight: 400;
    padding-top: 2rem;
    text-align: center;
}

.footer > .footer__address{
    display: flex;
    justify-content: space-around;
}

.footer > .footer__address > .footer__section{
    display: flex;
}

.footer__section > .section__details{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
} 

.section__details > span{
    letter-spacing: 0.2rem;
    line-height: 1.8;
    font-weight: 600;
}

.footer__font{
    color: grey;
}

@media(max-width: 870px){

    .footer{
        /* border: 1px solid; */
        padding-bottom: 1rem;
        padding-top: 2rem;
        max-height: 900px;
    }

    .footer > h1{
        display: none;
    }

     .footer > .footer__address{
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin: 0 auto;
        align-items: center;
        height: 400px;
        width: 500px;
    }

.footer > .footer__address > .footer__section{
    align-items: center;
    width: 350px;
    justify-content: space-between;
}

.footer__section > .section__details{
    font-size: 0.9rem;
    text-align: end;
}
}

@media(max-width: 480px){
    .footer__address{
        padding-top: 4rem;
    }
}