*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:active{
  text-decoration: none;
  color: white;
}

body{
  background-color: #F5F5F6;
  margin: 0 auto;
}

.button{
  background-color: #011D35;
  color: white;
  padding: 7px 7px;
  text-transform: uppercase;
}

.middleSection{
  margin: 100px auto;
  width: 1500px;
}

.topSection{
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0 auto;
  width: 1400px;
}